<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>

    <style>
        .date {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Hello, {{content.name}}</h1>
    <p>目前時間:<span class="date">
            {{content['date']}}</span></p>

    <ul>
        <li><a href="/stock" target="_blank">亞股資訊</a></li>
        <li><a href="/pm25" target="_blank">PM2.5全台資訊(表格)</a></li>
        <li><a href="/pm25-charts" target="_blank">PM2.5全台資訊圖</a></li>
    </ul>


</body>

</html>