<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5全台資訊網</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='./css/pm25.css')}}">
</head>

<body onload="showTime()">
    <div id="container">
        <h1>PM2.5全台資訊網</h1>
        <p class="date">{{date}}</p>
        <form action="/pm25" method="POST">
            <input type="submit" name="update" id="update" value="更新">
            <input type="submit" name="sort" id="sort" value="排序">
        </form>
        <a href="/">首頁</a>
        <table id="pm25-table">
            <thead>
                <tr>
                    {% for column in columns%}
                    <th>{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for value in values %}
                <tr>
                    {% for data in value %}
                    <td>{{data}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script src="../static/js/pm25.js">
</script>

</html>